<div id="background-cover"></div>

<div id="home" class="row">
  <div class="col-md-4 col-md-offset-2">
    <h1 id="welcome-text">The Free Speech Movement Archive</h1>
    <p id="welcome-button">
      <%= link_to "Explore Timeline", timeline_path, 
          class: "btn btn-primary btn-lg" %>
      <%= link_to "Search", timeline_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
