<div id="background-cover"></div>

<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <h1 id="welcome-text">The Free Speech Movement Archive</h1>
    <p id="welcome-button">
      <button class="btn btn-primary btn-lg">Explore Archive</button>
      <button class="btn btn-lg">Advanced View</button>
    </p>
  </div>
</div>
