<% content_for :title do %>
Timeline
<% end %>

<% content_for :sidebar do %>
<% # TODO replace with real sidebar %>
<div id="sidebar">
  <h2>Layers</h2>
  <ul>
    <% GroupHeader.all.each do |h| %>
      <li>
        <a data-toggle="collapse" href="#tg-<%= h.name.parameterize %>">
          <%= h.name %>
        </a>
        <ul id="tg-<%= h.name.parameterize %>" class="collapse">
          <% h.groups.all.each do |g| %>
            <li><a href="#"><%= g.name %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
</div>
<% end %>
