// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-cover {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./bg.jpg');
  background-size: cover;
}

#home {
  margin-top: 80px;
}

#welcome-text {
  color: #FFF;
  font-size: 3.5em;
  margin-top: 40px;
}

#welcome-button {
  margin-top: 30px;
}

#sidebar {
  width: 200px;
  background-color: #323232;
  color: #AAA;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

#sidebar h2, #timeline-select h2 {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
}

#sidebar ul, #timeline-select ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar a, #timeline-select a {
  display: block;
  width: 100%;
  padding: 10px;
  color: #FFF;
}

#sidebar a:hover, #timeline-select a:hover {
  color: #FFF;
  background-color: #555;
}

#sidebar > ul > li > a {
  background-color: #222;
  color: #FFF;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1px;
}

#sidebar > ul > li:last-child > a {
}

#sidebar > ul > li > a:hover, #timeline-select > ul > li > a:hover {
  text-decoration: none;
}

#sidebar > ul > li > ul .value {
  padding: 10px;
  display: none;
}

#sidebar > ul > li > ul .year {
  color: #FFF;
  display: block;
  font-size: 1.5em;
}

#timeline-select {
  top: 80px;
  right: 0;
  bottom: 0;
  background-color: #434343;
  width: 150px;
  color: #AAA;
  position: fixed;
  overflow-y: scroll;
}

#timeline-select > ul > li > a {
  padding: 5px 5px 5px 20px;
}

#timeline-select > ul > li > ul > li > a {
  padding: 5px 20px 5px 20px;
  text-align: right;
}

#timeline-select > ul > li > ul > .active {
  background-color: #222;
  color: #FFF;
}

#timeline-info {
  top: 80px;
  right: 150px;
  width: 200px;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  background-color: #323232;
}

#timeline-info a {
  background-color: #222;
  color: #FFF;
  display: block;
  text-align: center;
  padding: 10px;
}

#timeline-info a:hover {
  text-decoration: none;
  background-color: #555;
}

#timeline-info img {
  max-width: 200px;
}

#timeline-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFF;
}

#timeline-info ul li strong {
  display: block;
  background-color: #222;
  color: #FFF;
  padding: 5px;
  text-align: center;
}

#timeline-info ul li span {
  padding: 10px;
  display: block;
}

#timeline-dates {
  margin: 100px 0 0 200px;
}

#timeline-dates .month {
  width: 100%;
  color: #222;
  padding-bottom: 40px;
}

#timeline-dates .month h3 {
  font-size: 1.2em;
  position: relative;
  top: -40px;
  background-color: #EEE;
  padding: 10px;
  margin-left: 80px;
  display: inline-block;
}

#timeline-dates .month .line {
  background-color: #BBB;
  height: 1px;
}

#timeline-dates .date {
  padding-left: 60px;
  padding-right: 5px;
  border-bottom: 1px solid #BBB;
  display: inline-block;
}

#timeline-dates .node {
  padding: 10px 10px 10px 0;
}

#timeline-dates .node a {
  color: #1F4261;
}

#timeline-dates .node .marker {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #1f87e8;
  border: 2px solid #EEE;
  margin: 0 0 0 42px;
  position: relative;
  z-index: 10;
  float: left;
  display: inline-block;
}

#timeline-dates .node .text {
  float: left;
  display: inline-block;
  padding: 0 0 0 10px;
  max-width: 600px;
}

#timeline-dates .node .infobox {
  display: block;
  background-color: #333;
  clear: both;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  margin: -20px 0 0 240px;
}

#timeline-dates .node .infobox p {
  margin: 0;
  padding: 10px;
  color: #FFF;
}

#timeline-dates .node .infobox .controls {
}

#timeline-dates .node .infobox .controls a {
  //background-color: #1f87e8;
  background-color: #222;
  color: #FFF;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

#timeline-dates .node .infobox .controls a:hover {
  text-decoration: none;
  background-color: #555;
}

#timeline-dates .node .infobox img {
  max-height: 200px;
  border-radius: 10px 10px 0 0;
}

#timeline-line {
  position: fixed;
  bottom: 0;
  top: 80px;
  left: 250px;
  width: 5px;
  background-color: #1f87e0;
}
