// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background-cover {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./bg.jpg');
  background-size: cover;
}

#home {
  margin-top: 80px;
}

#welcome-text {
  color: #FFF;
  font-size: 3.5em;
  margin-top: 40px;
}

#welcome-button {
  margin-top: 30px;
}

#sidebar {
  width: 200px;
  background-color: #323232;
  color: #AAA;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
}

#sidebar h2, #timeline-select h2 {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
}

#sidebar ul, #timeline-select ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar a, #timeline-select a {
  display: block;
  width: 100%;
  padding: 10px;
  color: #AAA;
}

#sidebar a:hover, #timeline-select a:hover {
  color: #FFF;
  background-color: #555;
}

#sidebar > ul > li > a {
  background-color: #222;
  color: #FFF;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1px;
}

#sidebar > ul > li:last-child > a {
}

#sidebar > ul > li > a:hover, #timeline-select > ul > li > a:hover {
  text-decoration: none;
}

#timeline-select {
  top: 80px;
  right: 0;
  bottom: 0;
  background-color: #434343;
  width: 150px;
  color: #AAA;
  position: fixed;
  overflow-y: scroll;
}

#timeline-select > ul > li > a {
  padding: 5px 5px 5px 20px;
}

#timeline-select > ul > li > ul > li > a {
  padding: 5px 20px 5px 20px;
  text-align: right;
}

#timeline-select > ul > li > ul > .active {
  background-color: #222;
  color: #FFF;
}

#timeline-dates {
  margin: 100px 0 0 200px;
}

#timeline-dates .month {
  width: 100%;
  border-bottom: 1px solid #BBB;
  color: #BBB;
  padding: 0 0 0 80px;
}

#timeline-dates .month h3 {
  font-size: 1.2em;
  position: relative;
  top: 28px;
  background-color: #EEE;
  padding: 10px;
  display: inline-block;
}

#timeline-line {
  position: fixed;
  bottom: 0;
  top: 80px;
  left: 250px;
  width: 5px;
  background-color: #1f87e0;
}
