// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EEE !important;
}

#people-main {
  margin-top: 90px;
}

#important {
  list-style: none;
  padding: 0;
  margin: 0;
}

#important li {
  float: left;
  margin-bottom: 10px;
}

#important li a {
  display: block;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  background-color: #323232;
  color: #FFF;
  padding: 10px;
}

#all-people {
  list-style: none;
  margin: 0;
  padding: 0;
}

#all-people li a {
  background-color: #323232;
  color: #FFF;
  padding: 5px;
  display: block;
  width: 300px;
  margin: 5px 5px 5px 0;
}

#people-resources {
  list-style: none;
  margin: 0;
  padding: 0;
}

#people-resources li a {
  background-color: #323232;
  color: #FFF;
  padding: 10px;
  display: block;
  margin: 5px 5px 5px 0;
}

#people-resources li img {
  max-width: 100%;
}
