// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#details-main {
  margin-top: 110px;
}

#details-main h1 {
  padding: 0;
  margin: 0;
}

#details-main ul li strong {
  display: block;
}

.classification {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.document {
  overflow: auto;
}

#search, #search-results {
  margin-top: 90px;
}

.search-result {
  padding: 10px 10px 10px 0;
}

.back-button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #323232;
  color: #FFF;
  display: block;
  width: 200px;
}
